// ---------------- Variables -------------------
$main-color: #30AF5E;
$gray-color: #575757;
$gray-light: #797979;
$footer-color: #212529;

.products-comment{
    border-radius: 10px;
    box-shadow: 0px 1px 8px rgba(0,0,0,.3);
    padding: 10px 20px;
    min-height: 273px;
    max-height: 273px;

    .products-comment-header{
        display: flex;
        flex-direction: row;

        .product-comment-img{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 2px solid #fff;
            margin-left: 10px;
            filter: grayscale(100%);
            box-shadow: 0px 1px 8px rgba(0,0,0,.3);
        }
        .products-comment-title{
            width: 100%;
            color: $main-color;
            font-weight: 700;
            font-size: 16px;
            margin: 5px 0 5px 0;
        }
        .products-comment-subtitle{
            color:$gray-light ;
            font-size: 13px;
           
        }
    }
    .products-comment-body{
        margin-top: 20px;

        .products-comment-text{
            font-size: 14px;
            color: $gray-color;
            text-align: justify;
            line-height: 2;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
        }
    }
}


